<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <!-- presets -->
        <Property name="datetime_pattern" value="dd/MM/yyyy HH:mm:ss.SSS"/>
        <Property name="print_pattern" value="%msg%n"/>
        <Property name="simple_pattern" value="%d{${sys:datetime_pattern}} | %-5p | %msg%n"/>
        <Property name="standard_pattern" value="%d{${sys:datetime_pattern}} | %-5p | %-20c{1} | %msg%n"/>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${sys:standard_pattern}"/>
        </Console>
    </appenders>
    <loggers>
        <Logger name="io.grpc" level="ALL" additivity="false">
            <appender-ref ref="Console" level="INFO"/>
        </Logger>
        <root level="ALL">
            <appender-ref ref="Console" level="ALL"/>
        </root>
    </loggers>
</configuration>